@page "/create-pocket"
@using System.Net.Http.Headers
@using Append.Blazor.Printing
@using MudBlazor.Components.Service
@using QRCoder
@using Stocky.Shared.Models
@inject HttpClient Http
@inject AuthService AuthService
@inject IJSRuntime Js
@inject IPrintingService PrintingService

<MudPaper Class="pa-6" Style="max-width:600px">
    <MudText Typo="Typo.h5">Create New Pocket</MudText>

    <MudTextField @bind-Value="_pocketModel.TotalAmount" Label="Total Amount"/>
    <MudTextField @bind-Value="_pocketModel.TotalWeight" Label="Total Weight"/>
    <MudTextField @bind-Value="_pocketModel.UserId" Label="UserId"/>

    <MudButton Color="Color.Primary" OnClick="CreatePocket">
        Create Pocket
    </MudButton>

    @if (_pocketCreated)
    {
        <MudDivider Class="my-4"/>

        <MudText Typo="Typo.h6">Pocket Barcode: @_pocketModel.BarCode</MudText>

        <MudTextField @bind-Value="_productBarCode"
                      Label="Scan Product Barcode"
                      Immediate="true"
                      OnKeyDown="HandleKeyDown"
                      Class="barcode-text"/>

        <MudButton OnClick="AddProductToPocket">Add Product</MudButton>

        <MudTable Items="_pocketItems">
            <HeaderContent>
                <MudTh>Barcode</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.ProductBarCode</MudTd>
            </RowTemplate>
        </MudTable>

        <MudButton Color="Color.Success" OnClick="FinishPocket">
            Finish Sale
        </MudButton>
    }
    <MudText Color="Color.Success" Class="mt-2">@_message</MudText>
</MudPaper>

<script>
    window.focusElement = () => {
        const el = document.querySelector('.barcode-text input');
        if (el) {
            el.value = '';
            el.focus();
        }
    };
</script>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;
    private Pocket? _pocketModel = new();
    private bool _pocketCreated;
    private string? _message = "";

    private string? _productBarCode;
    private List<PocketItem> _pocketItems = [];

    private MemoryStream GenerateQrCode(Guid id, int size)
    {
        using var qrGenerator = new QRCodeGenerator();
        using QRCodeData qrCodeData = qrGenerator.CreateQrCode(id.ToString(), QRCodeGenerator.ECCLevel.Q);
        using var qrCode = new PngByteQRCode(qrCodeData);
        byte[] qrCodeAsPngByteArr = qrCode.GetGraphic(size);

        using var ms = new MemoryStream(qrCodeAsPngByteArr);
        return ms;
    }


    private async Task CreatePocket()
    {
        var request = new HttpRequestMessage(HttpMethod.Post, "http://localhost:5191/Pocket/CreatePocket");

        request.Content = JsonContent.Create(_pocketModel);
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", AuthService.Token);

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            _pocketModel = await response.Content.ReadFromJsonAsync<Pocket>();
            _pocketCreated = true;
        }
    }

    private async Task AddProductToPocket()
    {
        if (string.IsNullOrWhiteSpace(_productBarCode)) return;

        var pocketItem = new PocketItem
        {
            PocketId = _pocketModel.Id,
            ProductBarCode = _productBarCode
        };

        var request = new HttpRequestMessage(HttpMethod.Post, "http://localhost:5191/PocketItem/Add");
        request.Content = JsonContent.Create(pocketItem);
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", AuthService.Token);

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            _pocketItems.Add(pocketItem);
            _productBarCode = "";
            await Js.InvokeVoidAsync("focusElement");
        }
    }

    private async Task FinishPocket()
    {
        var request = new HttpRequestMessage(HttpMethod.Put, "http://localhost:5191/Pocket/UpdatePocket");
        request.Content = JsonContent.Create(_pocketModel);
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", AuthService.Token);

        var response = await Http.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            _message = "created successfully";
            _pocketItems.Clear();
            await Js.InvokeVoidAsync("focusElement");

            var qrStream = GenerateQrCode(@_pocketModel.BarCode, 10);
            var base64Qr = Convert.ToBase64String(qrStream.ToArray());
            string rawHtml = String.Join(
                Environment.NewLine,
                "<div style='width:57mm;height:57mm;padding:0;margin-left:1mm; margin-right:1mm; text-align:center;font-family:sans-serif;'>",
                "<h2 style='margin:0;'>ArzonCargo</h4>",
                "<div style='font-size:3mm;margin:0'><b>+992 92 788 0989</b></div>",
                $"<img src='data:image/png;base64,{base64Qr}' style='width:40mm;height:40mm;margin:1mm 0;' />",
                "<div style='font-size:3mm;'><b>Номер клиента: +992 92 677 4545</b></div>",
                "</div>"
            );
            
           await PrintingService.Print(rawHtml, PrintType.RawHtml);
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key is "Enter" or "NumpadEnter")
        {
            await AddProductToPocket();
        }
    }

}
