@page "/"
@using MudBlazor.Components.Layout
@using MudBlazor.Components.Service
@using ReferenceClass.Models
@inject HttpClient Http
@inject AuthService AuthService
@inject NavigationManager Navigation
@layout NoNavbar

<div class="d-flex justify-center align-center" style="height: 70vh;">
    <MudGrid Class="ma-0 pa-6" Style="max-width: 600px;">
        <MudItem xs="12">
            <MudPaper Class="pa-6" Elevation="3">
                <MudForm>
                    <MudTextField T="string"
                                  @bind-Value="Data.UserName"
                                  Label="Username"
                                  Class="mb-4"
                                  Error="@_isLoged"
                                  ErrorText="Invalid username or password"/>

                    <MudTextField T="string"
                                  @bind-Value="Data.PasswordHash"
                                  Label="Password"
                                  InputType="InputType.Password"
                                  Class="mb-4"
                                  Error="@_isLoged"
                                  ErrorText="Invalid username or password"/>

                    <MudButton Variant="Variant.Filled"
                               OnClick="Submit"
                               Color="Color.Primary"
                               FullWidth="true">
                        Login
                    </MudButton>
                </MudForm>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {
    [Parameter] public AuthenticationData Data { get; set; } = new();
    private bool _isLoged;

    private async Task Submit()
    {
        var response = await Http.PostAsJsonAsync("http://localhost:5191/api/Auth/Verify", Data);

        if (response.IsSuccessStatusCode)
        {
            var resultText = await response.Content.ReadAsStringAsync();

            var loginResponse = new LoginResponse
            {
                Token = resultText
            };

            if (!string.IsNullOrWhiteSpace(loginResponse?.Token))
            {
                AuthService.SetToken(loginResponse.Token);

                // store token securely (e.g., in local storage, session, or singleton service)
                Navigation.NavigateTo("/home");
            }
        }
        else
        {
            _isLoged = true;
        }
    }

    public class LoginResponse
    {
        public string? Token { get; set; }
    }

}