@page "/QrGenerator"
@using System.Text
@using Append.Blazor.Printing
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor.Components.Service
@using QRCoder
@using Color = MudBlazor.Color
@inject IPrintingService PrintingService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthService AuthService


<MudPaper Class="pa-4 mx-auto" Style="max-width:400px;">
    <MudText Typo="Typo.h5">Generate Login QR Code</MudText>

    <MudTextField @bind-Value="Login" Label="Login" Variant="Variant.Outlined" Class="mt-4"/>
    <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Outlined" InputType="InputType.Password"/>

    <MudButton OnClick="GenerateQRCode" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
        Generate QR
    </MudButton>

    @if (!string.IsNullOrEmpty(QRCodeBase64))
    {
        <MudPaper Class="mt-4 pa-4">
            <MudText Typo="Typo.subtitle1">QR Code:</MudText>
            <div id="qr-print">
                <img src="@QRCodeBase64" alt="QR Code" style="max-width:100%;"/>
            </div>
        </MudPaper>
    }
</MudPaper>

@code {
    private string? Login { get; set; }
    private string? Password { get; set; }
    private string? QRCodeBase64 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Load token or any other setup you do in AuthService
        await AuthService.LoadTokenAsync();

        if (string.IsNullOrEmpty(AuthService.Token))
        {
            NavigationManager.NavigateTo("/Unauthorized", true);
            return;
        }

        var role = await AuthService.GetUserRoleAsync();

        if (role != "Admin")
        {
            NavigationManager.NavigateTo("/Unauthorized", true);
            return;
        }
    }


    private async Task GenerateQRCode()
    {
        if (!string.IsNullOrWhiteSpace(Login) && !string.IsNullOrWhiteSpace(Password))
        {
            var combined = $"{Login}|{Password}";
            var base64Data = Convert.ToBase64String(Encoding.UTF8.GetBytes(combined));

            using var qrGenerator = new QRCodeGenerator();
            using var qrCodeData = qrGenerator.CreateQrCode(base64Data, QRCodeGenerator.ECCLevel.Q);
            using var qrCode = new PngByteQRCode(qrCodeData);
            var qrCodeBytes = qrCode.GetGraphic(20);

            var qr = Convert.ToBase64String(qrCodeBytes);
            var rawHtml = string.Join(
                Environment.NewLine,
                "<div style='width:60mm;height:60mm;text-align:center;font-family:sans-serif;position:relative;'>",
                "<h2 style='margin:0;'>ArzonCargo</h2>",
                "<div style='font-size:3mm;margin:0'><b>+992 92 788 0989</b></div>",
                "<div style='position:relative; display:inline-block; width:40mm; height:40mm; margin-top:-5mm;'>",
                "<div style='position:absolute; top:0; right:-3mm; writing-mode:vertical-lr; font-size:5mm; color:black;'><b>@arzoncargo</b></div>",
                $"<img src='data:image/png;base64,{qr}' style='width:40mm;height:40mm; z-index:-1;' />",
                "</div>",
                $"<div style='margin-top: -3mm; z-index:3;'><b>Номер uytrew: 928113006</b></div>",
                $"<div style='font-size:3mm;'><b>Номер клиента: 928113006</b></div>",
                $"<div style='font-size:3mm;'><b>Сумма: 535.2 сомони</b></div>",
                $"<div style='font-size:3mm;'><b>Вес: 23.5 кг</b></div>",
                "</div>");

            await Task.Delay(00);
            await PrintingService.Print(rawHtml, PrintType.RawHtml);
        }
    }

}